.lake/
__pycache__/
*.so
*.c
paper/main.aux
paper/main.bbl
paper/main.blg
paper/main.log
paper/main.out
paper/main.fdb_latexmk
paper/main.fls
paper/main.spl
.DS_Store
paper/main.pdf
docs/
CLAUDE.md

fddm-fpt/core/check
fddm-fpt/python/ddmsz.cpp
fddm-fpt/python/build/
*.o
